doctype html
html
    head

    body
        #container
            form (action='/add-User' method='GET')
                label Name:
                input (type='text' name='mytext') 
                label: ID
                input (type='id' name='mytext2')
                input (type='submit' value='Submit') 
   
